asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
defusedxml==0.7.1
Django==5.1
django-bootstrap4==24.3
django-crispy-forms==2.3
djangorestframework==3.15.2
httpie==3.2.3
idna==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
pillow==11.0.0
psycopg==3.2.1
psycopg-binary==3.2.1
Pygments==2.18.0
PySocks==1.7.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.8.0
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
