{% extends "user/index.html" %}

{% load static %}


{% block extra_css %}

    <!-- Plugins css -->
    <link href="{% static 'assets/libs/quill/quill.core.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/quill/quill.bubble.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/quill/quill.snow.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
		
{% endblock extra_css %}


{% block content %}


<div id="wrapper">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        {% if post %}
                            Edit Post
                        {% else %}
                            Create Post
                        {% endif %}
                    </h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb p-0 m-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog_list' %}">Blog List</a></li>
                            <li class="breadcrumb-item active">
                                {% if post %}
                                    Edit Post
                                {% else %}
                                    Create Post
                                {% endif %}
                            </li>
                        </ol>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Post Editor</h3></div>
                    <div class="card-body">

                        <form method="POST" id="postForm2" onsubmit="formSubmit(event)">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title" class="mr-4">Title</label>
                                {{ form.title }}
                            </div>

                            <div class="form-group d-flex align-items-center">
                                <label for="categories" class="mr-4">Categories</label>
                                <div class="select2-container">
                                    <select name="categories" class="form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose a Category..." style="width: 50%;">
                                        {% comment %} {{ form.categories }} {% endcomment %}
                                        <option value="#">&nbsp;</option>
                                        {% for category in form.categories %}
                                            <option value="{{ category.pk }}" {% if category.pk in form.categories.value %} selected {% endif %}>{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- editor -->
                            <div id="snow-editor" style="height: 300px;">
                            </div>
                            <!-- end Snow-editor-->

                            <!-- Hidden field to submit body content -->
                            <input type="hidden" id="post-body" name="body" value="{{ form.body.value|safe }}">

                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-primary">
                                    {% if post %}
                                        Edit Post
                                    {% else %}
                                        Create Post
                                    {% endif %}
                                </button>
                            </div>

                        </form>
                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card-->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- end container-fluid -->

</div>


{% endblock content %}


{% block extra_js %}
		
    <!-- Plugins js -->
    <script src="{% static 'assets/libs/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/libs/katex/katex.min.js' %}"></script>
    <script src="{% static 'assets/libs/quill/quill.min.js' %}"></script>


    <!-- Init js-->
    {% comment %} <!-- <script src="{% static 'assets/js/pages/form-quilljs.init.js' %}"></script> --> {% endcomment %}
    {% comment %} <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script> {% endcomment %}



    <!-- Select2 -->

    {% comment %} <script>
        $(document).ready(function() {
            !function(o) {
                "use strict";
                
                var t = function() {};

                t.prototype.initSelect2 = function() {
                    o('[data-toggle="select2"]').select2({
                        placeholder: "Choose a Category...",
                        allowClear: true // Allows clearing the selection
                    });
                };

                t.prototype.init = function() {
                    this.initSelect2();
                };

                o.Components = new t;
                o.Components.Constructor = t;

            }(window.jQuery), function(t) {
                "use strict";
                window.jQuery.Components.init();
            }();
        });
    </script> {% endcomment %}


    <script>
        $(document).ready(function() {
            !function(o) {
                "use strict";
    
                var t = function() {};
    
                t.prototype.initSelect2 = function() {
                    o('[data-toggle="select2"]').select2({
                        placeholder: "Choose a Category...",
                        allowClear: true, // Allows clearing the selection
                        templateSelection: function(data, container) {
                            // Apply inline styling for selected options (blue box)
                            $(container).css({
                                'background-color': 'blue',
                                'color': 'white',
                                'display': 'inline-block',
                                'padding': '3px 6px',
                                'border-radius': '4px',
                                'margin': '2px 4px'
                            });
                            return data.text;
                        }
                    });
                };
    
                t.prototype.init = function() {
                    this.initSelect2();
                };
    
                o.Components = new t;
                o.Components.Constructor = t;
    
            }(window.jQuery), function(t) {
                "use strict";
                window.jQuery.Components.init();
            }();
        });
    </script>


    <!-- On form submit, copy Quill content to the hidden textarea -->
    <script>
    var quill = new Quill("#snow-editor", {
        theme: "snow",
        modules: {
            toolbar: [
                [{ font: [] }, { size: [] }],
                ["bold", "italic", "underline", "strike"],
                [{ color: [] }, { background: [] }],
                [{ script: "super" }, { script: "sub" }],
                [{ header: [false, 1, 2, 3, 4, 5, 6] }, "blockquote", "code-block"],
                [{ list: "ordered" }, { list: "bullet" }, { indent: "-1" }, { indent: "+1" }],
                ["direction", { align: [] }],
                ["link", "image", "video", "formula"],
                ["clean"]
            ]
        }
    });

    // Load existing content into the Quill editor when editing
    var existingContent = document.getElementById("post-body").value;
    if (existingContent) {
        quill.root.innerHTML = existingContent;  // Set the existing content to Quill editor
    }

        /* // Submit and save the form (post content)
        function formSubmit() {
            console.log("form submitted")
            document.getElementById("post-body").value = quill.root.innerHTML;  
        } */

         // Form submission handler
        function formSubmit(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Trigger the change event on the select element to sync Select2
            $('select[data-toggle="select2"]').trigger('change');

            // Update the hidden input field with the content from the Quill editor
            document.getElementById("post-body").value = quill.root.innerHTML;

            // Manually submit the form after updating the hidden field and select2 value
            document.getElementById("postForm2").submit();
        }

    </script>

{% endblock extra_js %}

