{% extends "user/index.html" %}
{% load static %}

{% block content %}

<div id="wrapper">
    
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="wraper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="bg-picture text-center" style="background-image:url({% static 'assets/images/big/bg.jpg' %})">
                            <div class="bg-picture-overlay"></div>
                            <div class="profile-info-name">
                                <img src="{% static 'assets/images/users/avatar-1.jpg' %}" class="avatar-xl rounded-circle img-thumbnail" alt="profile-image">
                                <h3 class="text-white">{{ full_name }}</h3>
                            </div>
                        </div>
                        <!--/ meta -->
                    </div>
                </div>

                <div class="row user-tabs">
                    <div class="col-md-9 col-xl-6">
                        <ul class="nav nav-tabs tabs-bordered nav-justified" role="tablist">
                            <li class="nav-item tab">
                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">
                                    <span class="d-block d-sm-none"><i class="fa fa-home"></i></span>
                                    <span class="d-none d-sm-block">About Me</span>
                                </a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fa fa-cog"></i></span>
                                    <span class="d-none d-sm-block">Settings</span>
                                </a>
                            </li>
                            <li class="nav-item tab">
                                <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fa fa-cog"></i></span>
                                    <span class="d-none d-sm-block">Password</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <div class="tab-content profile-tab-content">
                            <div class="tab-pane show active" id="about" role="tabpanel" aria-labelledby="about-tab">

                                <div class="row">
                                    <div class="col-lg-4">

                                        <!-- Personal-Information -->
                                        <div class="card card-default card-fill">
                                            <div class="card-header">
                                                <h3 class="card-title">Personal Information</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="about-info-p">
                                                    <strong>Full Name</strong>
                                                    <br>
                                                    <p class="text-muted">{{ full_name }}</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Username</strong>
                                                    <br>
                                                    <p class="text-muted">{{ username }}</p>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Email</strong>
                                                    <br>
                                                    <p class="text-muted">{{ email }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Personal-Information -->

                                    </div>

                                    <div class="col-lg-8">

                                        <!-- Personal-Information -->
                                        <div class="card card-default card-fill">
                                            <div class="card-header">
                                                <h3 class="card-title">Biography</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                                                <p><strong>But also the leap into electronic typesetting, remaining essentially unchanged.</strong></p>

                                                <p class="mb-0">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                            </div>
                                        </div>
                                        <!-- Personal-Information -->

                                    </div>

                                </div>
                            </div>


                            <div class="tab-pane" id="setting" aria-labelledby="setting-tab">

                                <!-- Settings-Information -->
                                <div class="card card-default card-fill">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Profile</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'update-user-info' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="FirstName">First Name</label>
                                                <input type="text" value="{{ first_name }}" name="first_name" id="FirstName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="LastName">Last Name</label>
                                                <input type="text" value="{{ last_name }}" name="last_name" id="LastName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Username">Username</label>
                                                <input type="text" value="john" id="Username" class="form-control">
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="AboutMe">About Me</label>
                                                <textarea style="height: 125px" id="AboutMe" class="form-control">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</textarea>
                                            </div>
                                            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                                        </form>

                                    </div>
                                </div>
                                <!-- Settings-Information -->
                            </div>

                            <!-- Password-Update -->

                            <div class="tab-pane" id="password" aria-labelledby="password-tab">

                                <!-- Settings-Information -->
                                <div class="card card-default card-fill">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Password</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'update-password' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="OldPassword">Old Password</label>
                                                <input type="password" value="{{ old_password }}" name="old_password" id="FirstName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="NewPassword">New Password</label>
                                                <input type="password" value="{{ new_password1 }}" name="new_password1" id="NewPassword" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="ConfirmPassword">Confirm Password</label>
                                                <input type="password" value="{{ new_password2 }}" name="new_password2" id="ConfirmPassword" class="form-control">
                                            </div>
                                            
                                            <button class="btn btn-primary waves-effect waves-light w-md" type="submit">Save</button>
                                        </form>

                                    </div>
                                </div>
                                <!-- End-Password-Update -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end container-fluid -->

        </div>
    <!-- end content -->

</div>

{% endblock content %}